body {
  background-color: #ffc107;
}

.jumbotron h1 {
  background-color: #0d6efd;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  opacity: 0.75;
  color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/pizza.png");
  height: 346px;
  background-size: cover;
}

h1 {
  background-color: #0d6efd;

  margin: 0;
  padding: 0;
  text-align: center;

  color: #ffc107;
}

.nav-tabs .nav-item .nav-link.active {
  color: #ffc107;
  background-color: #0d6efd;
}

#pizzaSize, #quantity {
  height: 25px;
}

