body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Ubuntu, sans-serif;
}

div {
  border: 1px solid darkgrey;
  border-radius: 3px;
  width: 75vh;
  height: 3vh;
  margin: 1em auto 1em auto;
  padding-left: 10px;
}

.message.message-info {
  display: flex;
  align-items: center;
  background-color: #cddeff;
  color: #3f3697;
  font-size: 0.75em;
}

.message.message-success {
  display: flex;
  align-items: center;
  background-color: #cff3da;
  color: #307946;
  font-size: 0.75em;
}

.message.message-warning {
  display: flex;
  align-items: center;
  background-color: #fcfbc9;
  color: #887514;
  font-size: 0.75em;
}

.message.message-error {
  display: flex;
  align-items: center;
  background-color: #fad3d7;
  color: #913147;
  font-size: 0.75em;
}
