

body {
    background-color: #14caf0;
    font-family: 'Ubuntu', sans-serif;
}

#map {
    height: 70vh;
    width: 100%;
    margin: auto;
}

#card-container {

    background-color: #212529;
    height: 25%;
    width: 100%;
    margin: auto;

}

.text-dark{
    color: #212529;
    text-align: center;
}

.row {
    width: 100%;
}

.card {
    text-align: center;
    color: #14caf0;
    background-color: transparent;
    width: 100%;
    margin: 10px 10px;
    padding: 5px;
}